*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

background:linear-gradient(#fff5f7,#ffe4ec);

color:#444;

overflow-x:hidden;

}

header{

text-align:center;

padding:80px 20px;

}

h1{

font-family:'Great Vibes',cursive;

font-size:65px;

color:#ff4f81;

}

.subtitle{

margin-top:20px;

font-size:20px;

}

.timeline{

width:90%;

max-width:1100px;

margin:auto;

padding-bottom:80px;

}

.memory{

display:flex;

align-items:center;

margin:60px 0;

gap:40px;

}

.reverse{

flex-direction:row-reverse;

}

.memory img{

width:400px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.15);

transition:.5s;

}

.memory img:hover{

transform:scale(1.05);

}

.text{

flex:1;

}

.text h2{

color:#ff4f81;

margin-bottom:15px;

}

.text p{

font-size:18px;

line-height:1.7;

}

.letter{

text-align:center;

padding:80px 20px;

background:white;

}

.letter h2{

font-size:40px;

margin-bottom:30px;

color:#ff4f81;

}

#typing{

max-width:700px;

margin:auto;

font-size:20px;

line-height:2;

min-height:180px;

}

footer{

padding:40px;

text-align:center;

font-size:18px;

}

.hearts::before{

content:"❤️ ❤️ 💕 💖 💗";

position:fixed;

top:10px;

left:-10%;

font-size:24px;

animation:float 15s linear infinite;

opacity:.2;

}

@keyframes float{

0%{

transform:translateX(0);

}

100%{

transform:translateX(120vw);

}

}

@media(max-width:800px){

.memory,

.reverse{

flex-direction:column;

}

.memory img{

width:100%;

}

h1{

font-size:48px;

}

}
